  
  #info-screen .status-bar,
  #info-screen .alt-header {
    top: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    background-color:  #efefef;
    color: black;
   
  }
  
  #info-screen .status-bar {
    z-index: 2;
  }
  
  #info-screen .alt-header {
    z-index: 1;
  }
  


#info-screen {
    height: 500vh;
    background-color: #efefef;
}

.chat__timestamp {
    margin-top: 100px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color : rgb(148, 157, 160);
    border-radius: 20px;
    margin-bottom: 25px;
}
.chat__timestamp span {
    display: block;
    height: 50xp;
}

.info-main-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.message-row {
    display: flex;
    width: 100%;
    
}

.message-row img {
    margin-right: 10px;
}

.message-row__content {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
}

.message__info {
    font-size: 15px;
    font-weight: 400;
    display:flex;
    flex-direction: column;
    
    
}

.message__info span {
    display: block;
    padding : 5px;
    width: 100%;
}

.message__bubble {
    border-radius: 15px;
    border-top-left-radius: 0px;
    
}

.message-row img {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
    
}

.message__author {
    margin-bottom : 10px;
    
}

.message__bubble {
    background-color: white;
    margin-bottom: 5px;
    margin-left: 5px;
}


@keyframes fadeIn2 {
    from {
      transform: translateX(-10px);
      opacity:0 ;
      
    }
  
    to {
      transform: none;
      opacity:1 ;
  
    }
  
    
  }
  
  .message-row {
    font-weight: 600;
    animation : fadeIn2 0.5s linear;
  }


  .reply {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 15px;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    padding : 10px 25px;
    
  }

  .reply__column {
    display: flex;
    justify-content: space-between;

  }
  . 

  .reply__column:first-child {
    width:10%;

  }

  .reply__column:last-child {
    width:90%;

    position: relative;
  }

  .reply__column input {
    width:100%;
    padding:5px;
    border-radius: 10px;
  }

  .reply__column:last-child i {
    position: absolute;

  }

  .fa-grin-alt {
    right: 27px;
    bottom: 5px;
  }

  .fa-arrow-up {
    right: 7px;
    bottom: 5px;
  }



  .reply .reply__column:first-child,
.reply .fa-grin-alt,
 {
  transition: opacity 0.3s ease-in-out;


}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-grin-alt,
 {
  opacity:0;
}

.reply:focus-within  input {
  width: 100vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}